@using FastBus.Web.Helpers
@model FastBus.Web.Models.User.RegisterUserViewModelWithRole
@{
    ViewBag.Title = ViewBag.PageTitle = "Добавление сотрудника";
}
<div class="fb-row">
    @using (Html.BeginForm("Add", "User"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="grid">
            @{Html.RenderPartial("Partials/_Add", Model);}
            <div class="row cells12">
                @Html.LabelFor(model => model.UserRole, new { @class = "cell colspan2 label-control" })
                <div class="input-control text cell colspan10">
                    @Html.DropDownListFor(x => x.UserRole, SelectListHelper.GetRoles(), "Выберите роль", new { @class = "select2" })
                    @Html.ValidationMessageFor(model => model.UserRole)
                </div>
            </div>
            <div class="row cells12">
                <div class="offset2 cell colspan12">
                    <input type="submit" value="Создать" class="button primary" />
                    @Html.ActionLink("Отмена", "Index", "User", null, new { @class = "button" })
                </div>
            </div>
        </div>
    }
</div>