@using FastBus.Web.Helpers
@model FastBus.Web.Models.RegisterViewModelWithRole

@{
    ViewBag.Title = "Добавление пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Добавление пользователя</h2>

@using (Html.BeginForm())
{
    <hr />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="grid">
        <div class="row cells12">
            @Html.LabelFor(model => model.Email, new { @class = "cell colspan2 label-control" })
            <div class="input-control text cell colspan10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="row cells12">
            @Html.LabelFor(model => model.UserName, new { @class = "cell colspan2 label-control" })
            <div class="input-control text  cell colspan10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="row cells12">
            @Html.LabelFor(model => model.Name, new { @class = "cell colspan2 label-control" })
            <div class="input-control text cell colspan10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="row cells12">
            @Html.LabelFor(model => model.Password, new { @class = "cell colspan2 label-control" })
            <div class="input-control password cell colspan10" data-role="input">
                @Html.EditorFor(model => model.Password)
                <button class="button helper-button reveal" type="button"><span class="mif-looks"></span></button>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="row cells12">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "cell colspan2 label-control" })
            <div class="input-control password cell colspan10" data-role="input">
                @Html.EditorFor(model => model.ConfirmPassword)
                <button class="button helper-button reveal" type="button"><span class="mif-looks"></span></button>
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="row cells12">
            @Html.LabelFor(model => model.UserRole, new { @class = "cell colspan2 label-control" })
            <div class="input-control text cell colspan10">
                @Html.DropDownListFor(x => x.UserRole, SelectListHelper.GetRoles(), "Выберите роль", new { @class = "select2" })
                @Html.ValidationMessageFor(model => model.UserRole)
            </div>
        </div>

        <div class="row cells12">
            @Html.LabelFor(model => model.DateBorn, new { @class = "cell colspan2 label-control" })
            <div class="input-control text cell colspan10 datepicker">
                <input type="text" name="DateBorn" />
                <button class="button" type="button"><span class="mif-calendar"></span></button>
                @Html.ValidationMessageFor(model => model.DateBorn)
            </div>
        </div>

        <div class="row cells12">
            <div class="offset2 cell colspan12">
                <input type="submit" value="Создать" class="button primary" />
                @Html.ActionLink("Отмена", "Index", "User", null, new { @class = "button" })
            </div>
        </div>
    </div>
}