@using Bundle = FastBus.Web.BundleConfig
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FastBus</title>
    @Styles.Render(Bundle.StylesPath)
    @Scripts.Render(Bundle.JqueryPath)
</head>
<body>
    @RenderBody()
    @Scripts.Render(Bundle.ScriptsPath)
    @RenderSection("scripts", false)
</body>
</html>