@model FastBus.Web.Models.Route.ScheduleEditModel
@{
    ViewBag.Title = ViewBag.PageTitle = "Обновить рейс";
}
<div class="fb-row">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="grid">
            <div class="row cells12">
                @Html.LabelFor(model => model.DepartureDate, new { @class = "cell colspan2 label-control" })
                <div class="input-control text cell colspan4 datepicker">
                    <input type="text" name="DepartureDate" value="@Model.DepartureDate.ToString("d")" />
                    <button class="button" type="button"><span class="mif-calendar"></span></button>
                    @Html.ValidationMessageFor(model => model.DepartureDate)
                    @Html.ValidationMessageFor(model => model.DepartureHours)
                    @Html.ValidationMessageFor(model => model.DepartureMinutes)
                </div>
                @Html.LabelFor(model => model.DepartureHours, new { @class = "cell label-control" })
                <div class="input-control text cell colspan2">
                    @Html.EditorFor(x => x.DepartureHours, new { placeholder = "часы" })
                </div>
                @Html.LabelFor(model => model.DepartureMinutes, new { @class = "cell label-control" })
                <div class="input-control text cell colspan2">
                    @Html.EditorFor(x => x.DepartureMinutes, new { placeholder = "минуты" })
                </div>
            </div>
            <div class="row cells12">
                @Html.LabelFor(model => model.DestinationDate, new { @class = "cell colspan2 label-control" })
                <div class="input-control text cell colspan4 datepicker">
                    <input type="text" name="DestinationDate" value="@Model.DestinationDate.ToString("d")" />
                    <button class="button" type="button"><span class="mif-calendar"></span></button>
                    @Html.ValidationMessageFor(model => model.DestinationDate)
                    @Html.ValidationMessageFor(model => model.DestinationHours)
                    @Html.ValidationMessageFor(model => model.DestinationMinutes)
                </div>
                @Html.LabelFor(model => model.DestinationHours, new { @class = "cell label-control" })
                <div class="input-control text cell colspan2">
                    @Html.EditorFor(x => x.DestinationHours, new { placeholder = "часы" })
                </div>
                @Html.LabelFor(model => model.DestinationMinutes, new { @class = "cell label-control" })
                <div class="input-control text cell colspan2">
                    @Html.EditorFor(x => x.DestinationMinutes, new { placeholder = "минуты" })
                </div>
            </div>
            @{Html.RenderPartial("Partials/_Edit", Model);}
        </div>
    }
</div>

@section scripts{
    <script>
        $("#CarId").change(function() {
            $.post("@Url.Action("Drivers", "Driver")", { carId: $(this).val() },
                function (data) {
                    $("#Drivers").html("");
                    $.each(data, function(key, item) {
                        $("#Drivers").append($("<option></option>")
                            .attr("value", item.Value)
                            .text(item.Text));
                    });
                    $("#Drivers").select2({
                        language: "ru"
                    });
                });
        });
    </script>
}