@using FastBus.Web.Helpers
@using EnumHelper = FastBus.Web.Helpers.EnumHelper
@model FastBus.Web.Models.Car.CarResultViewModel
@if (Model.Result.Data.Count > 0)
{
    <table class="table bordered hovered striped shadow">
        <thead>
        <tr>
            <th>Модель</th>
            <th>Гос номер</th>
            <th>Цвет</th>
            <th>Кол-во мест</th>
            <th>Год выпуска</th>
            <th>Состояние</th>
            <th>Водители</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Result.Data)
        {
            <tr>
                <td>@user.Model</td>
                <td>@user.GovermentNumber</td>
                <td>@user.Color</td>
                <td>@user.Seats</td>
                <td>@user.Year</td>
                <td>@EnumHelper.GetDescription(user.Status)</td>
                <td>
                    @foreach (var driver in user.Drivers)
                    {
                        @driver.Name
                        <br/>
                    }
                </td>
                <td>
                    <a class="button primary" href="@Url.Action("Update", new {id = user.Id})" title="Редактировать">
                        <span class="mif-pencil"></span>
                    </a>
                    <a class="button danger" href="@Url.Action("Delete", new {id = user.Id})" title="Удалить">
                        <span class="mif-cross"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="grid">
        <div class="row cells2">
            <div class="cell">
                @Html.PageLinks(Model.Search.Paging, Model.Result.TotalFiltered)
            </div>
            <div class="cell align-right padding10 no-padding-right">
                <span class="bg-grayLighter padding10">
                    Запросу удовлетворяет @Model.Result.TotalFiltered из <span class="fg-lightBlue">@Model.Result.Total</span>
                </span>
            </div>
        </div>
    </div>

}
else
{
    <script>
        showNotify("По запросу результатов не найдено")
    </script>
}
