@model FastBus.Web.Models.User.EditPasswordModel
@{
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "Post",
        OnSuccess = "showResponseNotify(data, '#passwordTab')"
    };
}
@using (Ajax.BeginForm("EditPassword", "Account", null,  ajaxOpt))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="grid">
        <div class="input-control modern password iconic full-size" data-role="input">
            @Html.EditorFor(model => model.CurrentPassword)
            <span class="label">@Html.LabelFor(model => model.CurrentPassword)</span>
            <span class="informer">Введите пароль</span>
            <span class="placeholder">@Html.LabelFor(model => model.CurrentPassword)</span>
            <span class="icon mif-lock"></span>
            <button class="button helper-button reveal">
                <span class="mif-looks"></span>
            </button>
        </div>
        <div class="input-control modern password iconic full-size" data-role="input">
            @Html.EditorFor(model => model.NewPassword)
            <span class="label">@Html.LabelFor(model => model.NewPassword)</span>
            <span class="informer">Введите новый пароль</span>
            <span class="placeholder">@Html.LabelFor(model => model.NewPassword)</span>
            <span class="icon mif-lock"></span>
            <button class="button helper-button reveal">
                <span class="mif-looks"></span>
            </button>
        </div>
        <div class="input-control modern password iconic full-size" data-role="input">
            @Html.EditorFor(model => model.ConfirmPassword)
            <span class="label">@Html.LabelFor(model => model.ConfirmPassword)</span>
            <span class="informer">Подтвердите пароль</span>
            <span class="placeholder">@Html.LabelFor(model => model.ConfirmPassword)</span>
            <span class="icon mif-lock"></span>
            <button class="button helper-button reveal">
                <span class="mif-looks"></span>
            </button>
        </div>
        <div class="row cells12">
            <div class="cell colspan12">
                <input type="submit" value="Изменить" class="button primary"/>
            </div>
        </div>
    </div>
}