@using FastBus.Domain.Enums
@using FastBus.Web.Helpers
@using SortDirection = FastBus.Domain.Objects.SortDirection
@model FastBus.Web.Models.Car.CarSearchModel
@{
    ViewBag.Title = "Машины";
}
@using (Html.BeginForm("Search", "Car"))
{
    <div class="panel panel-collapse shadow margin-top20">
        <div class="heading">
            <span class="title">Поиск машин</span>
        </div>
        <div class="content padding10 bg-white">
            <div class="grid">
                <div class="row cells3">
                    <div class="cell">
                        @Html.LabelFor(x => x.Model)
                        <div class="input-control text full-size">
                            @Html.EditorFor(x => x.Model)
                        </div>
                    </div>
                    <div class="cell">
                        @Html.LabelFor(x => x.GovermentNumber)
                        <div class="input-control text full-size">
                            @Html.EditorFor(x => x.GovermentNumber)
                        </div>
                    </div>
                    <div class="cell">
                        @Html.LabelFor(x => x.Color)
                        <div class="input-control text full-size">
                            @Html.EditorFor(x => x.Color)
                        </div>
                    </div>
                </div>
                <div class="row cells3">
                    <div class="cell">
                        @Html.LabelFor(x => x.YearFrom)
                        <div class="input-control text full-size datepicker">
                            <input type="text" name="YearFrom" />
                            <button class="button"><span class="mif-calendar"></span></button>
                        </div>
                    </div>
                    <div class="cell">
                        @Html.LabelFor(x => x.YearTo)
                        <div class="input-control text full-size datepicker">
                            <input type="text" name="YearTo" />
                            <button class="button"><span class="mif-calendar"></span></button>
                        </div>
                    </div>
                    <div class="cell">
                        @Html.LabelFor(x => x.DriverName)
                        <div class="input-control text full-size">
                            @Html.EditorFor(x => x.DriverName)
                        </div>
                    </div>
                </div>
                <div class="row cells3">
                    <div class="cell">
                        @Html.LabelFor(x => x.GarageNumber)
                        <div class="input-control text full-size">
                            @Html.EditorFor(x => x.GarageNumber)
                        </div>
                    </div>
                    <div class="cell">
                        @Html.LabelFor(x => x.Status)
                        <div class="input-control text full-size">
                            @Html.DropDownListFor(x => x.Status, SelectListHelper.GetFields<StatusCar>(), "Любой статус", new { @class = "select2" })
                        </div>
                    </div>
                    <div class="cell">
                        <div class="row cells2 no-margin">
                            <div class="cell">
                                @Html.LabelFor(x => x.OrderBy.Column)
                            </div>
                            <div class="cell align-right">
                                @Html.LabelFor(x => x.OrderBy.Direction, new { @class = "padding5 no-padding-left" })
                                <label class="switch small-check">
                                    <input type="checkbox" name="OrderBy.Direction" id="OrderBy_Direction" value="@SortDirection.Desc"
                                           @(Model.OrderBy.Direction == SortDirection.Desc ? "checked" : null) />
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                        <div class="input-control text full-size">
                            @Html.DropDownListFor(x => x.OrderBy.Column, Model.OrderByFields, new { @class = "select2" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-right">
                <button type="button" class="button" id="resetSearch"><span class="mif-cross"></span></button>
                <button type="submit" class="button"><span class="mif-search"></span> Искать</button>
            </div>
        </div>
    </div>
    <div class="align-right margin10 no-margin-right">
        <a class="button primary" href="@Url.Action("Add")"><span class="mif-user-plus"></span> Добавить</a>
    </div>
    <div id="searchContent" class="margin-top20">

    </div>
}

@section scripts{
    <script>
        function deleteHandler() {
            $("#searchContent .deleteButton")
                .click(function() {
                    var element = $(this);
                    var id = element.attr("id");
                    $.post("@Url.Action("Delete")", { id: id }, function (data) {
                        if (data != null) {
                            if (data.IsSuccessful) {
                                element.closest("tr").remove();
                                showNotify("Машина успешно удалена", "success");
                            } else {
                                showNotify(data.Message, "danger");
                            }
                        }
                    });
                });
        }
        var paging = Pagination({
            formId: "form",
            contentSelector: "#searchContent",
            pageSelector: ".pagination .item",
            lengthSelector: "#lengthSearch",
            resetSelector: "#resetSearch",
            deleteCallback: deleteHandler
        });

        paging.search();
    </script>
}
